@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&display=swap');
Global styles
 .window-app {
  font-family: "Comic Neue", cursive;
  color: #000000;
  background-color:#ffe6cc;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

/* Styles limited to mutants3e sheets */
.mutants3e {
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
  /* Example style for Mutants3E (can be removed if not needed) */
}

.mutants .item-form {
  font-family: "Comic Neue", cursive;
  color: #000000;
}

.mutants3e .sheet-header {
  font-family: "Comic Neue", cursive;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 64px;
  flex: 0 0 64px;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 12px;
}

.mutants3e .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 128px;
  width: 128px;
  margin-right: 10px;
}

.mutants3e .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.mutants3e .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.sheet header.sheet-header h1 {
  flex: 1;
  margin: -4px;
  border-bottom: none;
}

.mutants3e .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.mutants3e .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

input::placeholder {
  color: #000000;
}


.mutants3e .sheet-body,
.mutants3e .sheet-body .tab,
.mutants3e .sheet-body .tab .editor {
  height: 100%;
}

.mutants3e .tox .tox-editor-container {
  background: #fff;
}

.mutants3e .tox .tox-edit-area {
  padding: 0 8px;
}

.mutants3e .resource-label {
  font-weight: bold;
}

.mutants3e .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.mutants3e .items-header > * {
  font-size: 14px;
  text-align: center;
}

.mutants3e .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mutants3e .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}

.mutants3e .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mutants3e .items-list .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mutants3e .items-list .item-name h3, .mutants3e .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.mutants3e .items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.mutants3e .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.mutants3e .items-list .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}

.mutants3e .items-list .item:last-child {
  border-bottom: none;
}

.mutants3e .items-list .item .item-name {
  color: #191813;
}

.mutants3e .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.mutants3e .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.mutants3e .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.mutants3e .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}

.mutants3e .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.mutants3e .item-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}

.mutants3e .effects .item .effect-source,
.mutants3e .effects .item .effect-duration,
.mutants3e .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.mutants3e .effects .item .effect-controls {
  border: none;
}

/* Sheet Graphics */

.sheet.actor .window-content {
  background-image: url(../assets/images/59427.jpg);
  background-size: 662px 620px;
  background-repeat: no-repeat;
} 

.sheet {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  max-width: 662px;
  max-height: 620px;
  min-width: 662px;
  min-height: 620px;
}

.sheet > * {
  flex: 1;
}

.mutants3e .character-details .row1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0px;
  margin-bottom: -10px;
}

.mutants3e .character-details .row2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0px;
  margin-bottom: 5px;
}

.mutants3e .character-details .ppbar {
  display: grid;
  grid-template-columns: repeat(7 ,1fr);
  grid-gap: 0px;
  margin-bottom: 5px;
  font-size: 12px;
}

.mutants3e .combat-grid {
  display: grid;
  grid-template-columns: 320px auto;
}

.mutants3e .defense-scores {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  /* background-color: lightgrey;
  border-radius: 10px;
  border-color: rgb(70, 70, 70); */
  margin-bottom: 5px;
  padding-left: 1px;
  width: 320px;
}

  /* DEFENSE SCORES */

.mutants3e .defense-scores-item {
  /* also flexibly flow items */
  display: flex;
  
  /* flow the contents vertically */
  flex-direction: column;
  
  /* center all items horizontally */
  align-items: center;
  
  /* this is am important line. 
     Equivalent to:
       flex-grow: 1;
       flex-shrinl: 1;
       flex-basis: 25%;
       
     tells all tags with the flex-item class to share space evenly
     starting at 25% of the width of the parent element, then expanding
     to fill the rest of the space out.
     */  
  flex: 1 1 25%;
  
  /* some display information about the element and contenets */
  border: 3px solid gray;
  border-radius: 10px;
  background: lightgray;
  padding: 5px;
  text-align: center;
}

.mutants3e .defense-scores-item > input {
  width: 4em;
  border-radius: 1em;
}

/* Charlottes meddling */

.mutants3e .ability-scores {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.mutants3e .ability-scores, .skills-list {
  margin: 0;
  padding: 0;
}

.mutants3e .ability-scores li {
  background-color: lightgrey;
}

.mutants3e .skills-list {
  margin-top: 5px;
}

.mutants3e  .skills-list li {
  background-color: lightgrey;
  border-radius: 10px;
  border-color:rgb(70, 70, 70);
  margin-bottom: 5px;
}

.mutants3e .ability {
  border-radius: 10px;
  border-color:rgb(70, 70, 70);
}

.mutants3e .header-names {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.mutants3e .header-names input {
  height: 40px;
}

.mutants3e .header-exp {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.mutants3e .header-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 10px;
}

.mutants3e .details-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 5px;
}

.mutants3e .logo {
  border: none;
}

.mutants3e .flex-row {
  display: flex;
  flex-direction: row;
}

.mutants3e .flex-column {
  display: flex;
  flex-direction: column;
}

.mutants3e .stats {
  padding: 0 0 0 6px;
}